conda.enabled = true
nextflow.enable.dsl=2

params{
    title = 'Murine_Colon_Tissue'
    basedir = '/kyukon/data/gent/vo/000/gvo00095/vsc45456'
    Existing = 'False'

    fastq_directory = '/kyukon/data/gent/vo/000/gvo00095/vsc45456/raw_read'

    sra_id = '/kyukon/data/gent/vo/000/gvo00095/vsc45456/sra_id.txt'
    threads_down = 8

    zip = 'False'
    threads_zip = 8
    
    slide_type = 'FF'
    description = ''
    ref_genome = '/kyukon/data/gent/vo/000/gvo00095/vsc45456/refdata-gex-mm10-2020-A'
    extension = 'png'
    probe = '/kyukon/home/gent/454/vsc45456/Transcriptome.csv'
    slide = 'visium-1'
    imgrot = 'true'
    cores = 16
    mem = 64

    R = '/kyukon/data/gent/vo/000/gvo00095/vsc45456/DownstreamAnalysis.Rmd'
}

process{

  executor = "slurm"
  withLabel: big_mem {
    cpus = 16
    memory = 120.GB
    }
  withLabel: mid_mem {
    cpus = 9
    memory = 80.GB
      }

  withLabel: low_mem {
    cpus = 9
    memory = 20.GB
      }

}


