params{
    title = 'Murine_Colon_Tissue'
    basedir = '/your/working/direcotory/path/'

    sra_id = ['SRR17184260', 'SRR17184261'] 
    threads = 8
    
    slide_type = 'FF'
    description = ''
    ref_genome = '/path/taht/your/reference/genome/data/located/refdata-gex-mm10-2020-A'
    probe = '/path/that/your/transcriptome/located/Transcriptome.csv'
    slide = 'visium-1'
    imgrot = 'true'
    cores = 16
    mem = 64

    R = '/paht/that/your/rmd/file/located/DownstremAnalysis.Rmd'
}

process{

  executor = "slurm"
  withLabel: big_mem {
    cpus = 16
    memory = 120.GB
    }
  withLabel: mid_mem {
    cpus = 9
    memory = 80.GB
      }

  withLabel: low_mem {
    cpus = 9
    memory = 20.GB
      }

}
